.game-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game{
    background-color: #1f2244;
    margin: 1rem;
    overflow: hidden;
    width: 460px;
    position: relative;
    border-radius: 15px;
    border: 5px solid #fff;
}
.game img{
    object-fit: cover;
    height: 215px;
    max-width: 100%;
}
.game-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    
    
}
.game-info h3{
    margin: 0;
}
.game-overview{
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
    color: #22254b;
    padding: 1rem;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;

}
.game:hover .game-overview{
    transform: translateY(0%);

}

.tag{
    background-color: #22254b;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}
.tag.green{
    color: green;
}
.tag.orange{
    color: orange;
}
.tag.red{
    color: red;
}

.search{
    background-color: transparent;
    border-radius: 50px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    height: 40px;
  }
  .search :focus{
    outline: 0;
  }
