@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #1c1e24;
    font-family: 'Permanent Marker', cursive;
    font-size: 5vw;  /*vw=viewport width*/
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100; /*so that it alawys stay on top*/
  }
  
  @media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }